html {
	font-size: 1vmin;
	background-color: #2b2f36;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 100em;
	user-select: none;
	cursor: var(--cursor, grab);
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	touch-action: none;
}

body {
	width: 75em;
	aspect-ratio: 1;
	margin: 0;
	position: relative;
	color: transparent;
	transform-style: preserve-3d;
	transition: transform var(--transition-duration, 0.5s) ease;
}

div {
	border-radius: 2em;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
}

body > div {
	translate: 0 0 var(--depth);
	background-image: var(--image);
	transition: translate 0.5s ease;
}

body.disabled > div {
	--depth: 0 !important;
}

.shadow {
	mask-size: contain;
	transition: all 0.5s ease;
	opacity: 0.4;
	filter: blur(var(--blur)) brightness(0) !important;
	mask-image: var(--image);
	mask-position: calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset));
	transform: translate(var(--shadow-offset), var(--shadow-offset));
}

body.disabled .shadow {
	--blur: 0 !important;
	--shadow-offset: 0 !important;
}
